.card {
  @apply flex flex-col bg-white rounded-3xl max-w-[320px] overflow-hidden;
}
.cardHeader {
  @apply h-72 flex items-center justify-center;
}
.cardHBody {
  @apply p-4 min-h-48;
}
.cardActions {
  @apply pb-8 px-4 flex justify-between items-center;
}
.title {
  @apply text-stone-800 font-bold text-xl py-2;
}
.description {
  @apply text-stone-600 text-sm py-2;
}
.btnAction {
  @apply rounded-full px-4 py-2 w-[50px] h-[50px] flex items-center justify-center;
}
.next {
  @apply bg-stone-700;
}
.back {
  @apply bg-stone-200 border border-stone-500;
}
.contentSteps {
  @apply flex items-center gap-2 max-h-5;
}
.contentActions {
  @apply flex items-center gap-2;
}

.cardImg {
  @apply aspect-video;
  max-width: 320px;
  animation: slideRight 600ms forwards;
}
.frame {
  max-width: 320px;
  overflow: hidden;
}
.frame > div {
  transition: transform 200ms ease-in-out;
  display: flex;
  width: 100vw;
}
.slideLeft {
  animation: slideLeft 3000ms forwards;
}
@keyframes slideRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slideLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

/* .fade-enter{
  opacity: 0;
  animation: slideLeft 300ms forwards;
}
.fade-exit .cardsImages{
  opacity: 1;
  animation: slideRight 300ms forwards;
}
.fade-enter-active .cardsImages{
  opacity: 1;
}
.fade-exit-active .cardsImages{
  opacity: 0;
}
.fade-enter-active .cardsImages,
.fade-exit-active .cardsImages{
  transition: opacity 500ms;
} */
