.contentSteps {
  @apply flex items-center gap-2 max-h-5;
}
.step {
  @apply w-[5px] h-[5px] bg-stone-500 rounded-full;

}
.stepSelected {
  @apply h-[5px] bg-pink-500  rounded-full;
  animation: stepSelected 300ms ease-in-out forwards;
}

@keyframes stepSelected {
  0% {
    width: 5px;
  }
  100% {
    width: 15px;
  }
}
