.fade-enter.container-image {
  opacity: 0;
  animation: imgRight 300ms forwards;
}
.fade-exit.container-image {
  opacity: 1;
  /* animation: imgLeft 300ms forwards; */
}
.fade-enter-active.container-image {
  opacity: 1;
}
.fade-exit-active.container-image {
  opacity: 0;
}
.fade-enter-active.container-image,
.fade-exit-active.container-image {
  transition: opacity 500ms;
}
@keyframes imgRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes imgLeft {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(-100%);
    opacity: 0;
  }
}
